* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/back_1.jpg);
    overflow: hidden;
}

div {
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

#citySearch {
    background: none;
    border: none;
    border-bottom: 2px double grey;
    width: 200px;
    padding: 7px;
}

#SearchBtn {
    width: 50px;
    height: 40px;
    margin: 0px 30px;
    color: black;
    border: 2px black double;
}

#citySearch::placeholder {
    color: rgb(48, 49, 0);
    padding: 2px;
}

#temp,
#wind {
    box-shadow: 10px 10px 24px -18px rgba(230, 53, 53, 0.75);
    height: 180px;
}


#temp img {
    width: auto;
    height: 90px;
}

#wind img {
    width: auto;
    height: 65px;
}

p {
    display: inline;
}